* { box-sizing: border-box; }
html { width: 100%; height: 100%; }

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #222222;
    font-size: 13pt;
    font-family: Tahoma, Arial, Sans-serif;
    color: #EEEEEE;
}

.clr {
    clear: both;
    width: 0px;
    height: 0px;
}

a.close-x,
a.close-x:visited,
a.close-x:active,
a.close-x:hover {
    text-decoration: none;
    font-weight: bold;
    color: #CCCCCC;
}

#wrapper {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
}

#header {
    flex-shrink: 1;
    width: 100%;
    padding: 0em 0.5em;
    background-color: dimgrey;
    color: #EEEEEE;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#header .title {
    float: left;
    line-height: 2em;
    z-index: 51000;
}

#header .menu {
    float: right;
    line-height: 2em;
}

#header .menu a,
#header .menu a:visited,
#header .menu a:active,
#header .menu a:hover {
    display: inline-block;
    padding: 0px 0.5em;
    text-decoration: none;
    color: #333333;
    font-size: 0.9em;
}

#header .menu a:active,
#header .menu a:hover {
    color: #EEEEEE;
}

#console-wrapper {
    width: 100%;
    flex-grow: 1;
    padding: 0px 0px 0.5em 0px;
    margin: 0px;
    z-index: 50000;
}

#console {
    width: 100%;
    height: 100%;
    border: 0px;
    background: transparent;
    font-size: 1em;
    font-family: Tahoma, Arial, Sans-serif;
    color: #EEEEEE;
    padding: 0.5em;
    margin: 0px;
    line-height: 1.3em;
    z-index: 4000;
    outline-width: 0;
    outline: none;
}

#console:focus {
    border: 0px;
    outline-width: 0;
    outline: none;
}

#settings {
    position: fixed;
    height: 60%;
    max-width: 60%;
    min-width: 20%;
    z-index: 90000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #222222;
    border: 1px solid #444444;
    padding: 0em;
}

#settings-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#settings-title {
    background: #444444;
    color: White;
    text-align: left;
    padding: 0.2em 0.5em;
    flex-shrink: 1;
}

#settings-body-wr {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
}

#settings-body {
    padding: 0.4em;
}

#settings-body table tr td {
    white-space: no-wrap;
    padding: 0.3em;
    font-size: 0.9em;
    text-align: left;
}

#settings-body table tr td input {
    width: 2em;
    background-color: #444444;
    border: 0px;
    color: #EEEEEE;
    padding: 0.3em;
    font-size: 1em;
}

#settings-body table tr td.buttons {
    text-align: center;
    padding: 1em 1em 0.5em 1em;
}

#save-error {
    padding: 0em 1em 1em 1em;
    text-align: center;
    color: #CC0000;
}

.err {
    border: 1px solid #CC0000 !important;
}

#settings-body table tr td.preset-select {
    text-align: center;
    padding: 0.5em 1em;
}

#settings-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: 0.5;
}

a.button,
a.button:visited,
a.button:active,
a.button:hover {
    display: inline-block;
    margin: 0em 0.5em;
    text-decoration: none;
    border-radius: 1em;
    background-color: #333333;
    color: White;
    line-height: 1em;
    padding: 0.5em 1em 0.5em 1em;
}

 a.button:active {
    padding: 0.55em 1.05em 0.45em 0.95em;
    background-color: #303030;
}
